.page1{
    h1{
       color: white; 
    display:flex;
    height: 90vh;
    justify-content:center;
    align-items:center;
    font-family:oblique;
    font-style:italic ;
    font-weight: bold;
    }
   
    background-color:yellowgreen;
    
  
}

.page2{
    h1{
        color:white; 
        display:flex;
        height: 100vh;
        justify-content:center;
        align-items:center;
        font-family: oblique;

    }
    background-color: black;
}